<% layout('/layouts/boilerplate') -%>
    <link rel="stylesheet" href="/CSS/showListing.css">

    <script>
        const mapToken = '<%= process.env.MAP_TOKEN %>';
        const listing = <%- JSON.stringify(listing) %>;
    </script>

    <div class="container-fluid show-container">

        <!-- Listing Image + Details -->
        <div class="row main-content">
            <div class="col-md-7 img-container">
                <img src="<%= listing.image.url %>" alt="Listing_image" class="img-fluid listing-image">
            </div>

            <div class="col-md-5 info-section">
                <h2>
                    <%= listing.title %>
                </h2>
                <p><i>Owned By: <%= listing.owner.username %></i></p>
                <p>
                    <%= listing.description %>
                </p>

                <div>
                    <p><strong>Location:</strong>
                        <%= listing.location %>, <%= listing.country %>
                    </p>
                    <p><strong>Price:</strong> ₹<%= listing.price.toLocaleString("en-IN") %>/Night</p>

                    <p><strong>Reviews Summary</strong></p>
                    <p class="starability-result" data-rating="3"></p>
                    <p><strong>
                            <%= listing.reviews.length %> Reviews
                        </strong></p>
                    <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
                        <div class="edit-delete-btns">
                            <a href="/listings/<%= listing.id %>/edit" class="btn btn-outline-primary">Edit</a>
                            <form action="/listings/<%= listing.id %>?_method=DELETE" method="post">
                                <button class="btn btn-outline-danger">Delete</button>
                            </form>
                        </div>
                        <% } %>
                </div>


            </div>
        </div>
        <div class=" row justify-content-between ">

            <!-- Map -->
            <div class=" map-section col-md-7">
                <div id="map"></div>
            </div>

            <!-- Review Form -->
            <% if(currUser){ %>
                <div class="col-md-5 review-form-section">
                    <div class="card p-3">

                        <h4>Leave a Review</h4>
                        <form action="/listings/<%= listing.id %>/reviews" method="post" novalidate
                            class="needs-validation">
                            <fieldset class="starability-checkmark">
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                    checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>

                            <div class="mb-3">
                                <textarea name="review[comment]" id="comment" class="form-control" cols="5" rows="3"
                                    required placeholder="Please give us your valuable feedback..."></textarea>
                            </div>
                            <button class="btn btn-outline-dark mb-3">Submit</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>

        <!-- All Reviews -->
        <% if(listing.reviews.length> 0) { %>
            <div class="row reviews-section">
                <div class="col-md-11 mx-auto">
                    <h4>All Reviews</h4>
                    <div class="row">
                        <% for(let review of listing.reviews) { %>
                            <div class="card col-md-5 m-3">
                                <div class="card-body">
                                    <h6 class="card-title">@<%= review.author.username %>
                                    </h6>
                                    <p class="card-text starability-result" data-rating="<%= review.rating %>">
                                    </p>
                                    <p class="card-text">
                                        <%= review.comment %>
                                    </p>
                                </div>
                                <% if(currUser && currUser._id.equals(review.author._id)){ %>
                                <form class="mb-3 ms-3"
                                    action="/listings/<%= listing.id %>/reviews/<%= review.id %>?_method=DELETE"
                                    method="post">
                                    <button class="btn btn-sm btn-dark">Delete</button>
                                </form>
                                <% } %>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
            <% } %>


    </div>

    <script src="/JS/map.js"></script>